.social{

  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;

  &__in{
    height: 2rem;
    width: 2rem;
    fill: rgb(163, 41, 58);
    margin: 0 2rem;
    &:hover{
      opacity: .7;
    }
  }

  &__twitter,
  &__fb,
  &__ig,
  &__web{
    width: 2rem;
    fill: rgb(163, 41, 58);
    margin: 0 2rem;

    &:hover{
      opacity: .7;
    }
  }
}